.MessageSent {
  font-size: 1.2rem;
  color: #0b0b8a;
  line-height: 0;
  text-align: end;
  flex-direction: column-reverse;
  margin-right: 10px;
}

.MessageReceived {
  font-size: 1.2rem;
  color: #0b0b8a;
  line-height: 0;
  align-self: flex-start;
  text-align: start;
  margin-left: 10px;
}

.MessageReceived .Msg {
  color: red;
}

.Msg {
  color: #1616d3;
  display: inline-block;
  line-height: 1.2;
  background-color: #f4f0fa;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
}

img {
  max-width: 500px;
  max-height: 70vh;
}

@media (max-width: 576px) {
  img {
    max-width: 300px;
    max-height: 50vh;
  }
}
