.Home {
  height: 80vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 10vh 0 10vh;
}

.Home button {
  font-size: 1.5rem;
  outline: none;
  cursor: pointer;
}

.Home button:hover {
  background-color: rgb(241, 197, 197);
}
