.Home {
  height: 80vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  margin: 10vh 0 10vh;
}

.Home a {
  display: flex;
  flex-direction: column;
  width: 50%;
  text-decoration: none;
}

.Home button {
  font-size: 1.5rem;
  outline: none;
  cursor: pointer;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
}

.Home button:hover {
  background-color: #e8ddf8;
  box-shadow: 1px 2px gray;
}
